[Unit]
Description=Pi Webcam
After=network.target

[Service]
ExecStart=/usr/local/bin/run_pi_webcam.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
